<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>Login-FlaskDemo</title>
</head>
<body>
        <div class="jumbotron">
                <h1 class="display-4">Welcome, User!. Happy to see you again. ;)</h1>
                <p>Please Check all the Fields Correctly!</p>
            </div>
                {%  if err %}
                    <div class="alert alert-danger alert-dismissible fade show w-50 mx-auto">
                        {{ err }}
                    </div>
            {% endif %}
            <form method="post" action="{{ url_for('register') }}" class="container">
                <div class="form-group w-50 mx-auto">
                    <small><h6 class="float-right justify-content-end">Have Account..!?<a href="{{ url_for('login') }}">Click Here</a></h6></small>
                    <label for="Username">Username</label>
                    <input id="Username" class="form-control" type="text" name="username" placeholder="Enter Username">
                </div>
                <div class="form-group w-50 mx-auto">
                        <label for="Email">Email</label>
                        <input id="Email" class="form-control" type="email" name="email" placeholder="Enter Email">
                    </div>
                <div class="form-group w-50 mx-auto">
                        <label for="Org">Short-Org</label>
                        <input id="org" class="form-control" type="text" name="org" placeholder="Enter Organization">
                    </div>
                <div class="form-group w-50 mx-auto">
                        <label for="Password">Password</label>
                        <input id="Password" class="form-control" type="password" name="password" placeholder="Enter Password">
                    </div>
                    <center><button type="submit" class="btn btn-primary w-25">Submit</button></center>

            </form>
            <center><footer style="position: fixed ;bottom: 0;">
                &copy;FlaskDemo
            </footer>
        </center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>